 /* Common Command */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(163, 163, 163);
}
.flex{
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.content{
  width: 100%;
  height: calc(100% - 100px);
}
.column{
  flex-direction: column;
}
.width{
  width: 85%;
}
.margin{
  margin: 0 auto;
}
a {
  text-decoration: none;
  padding-bottom: 5px;
}
.active a:after{
  content: "";
  height: 2px;
  width: 50%;
  background-color: limegreen;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.active a{
  position: relative;
}
 /* End Common Command */

  /* Start Aside */
aside{
  width: 15%;
  height: calc(100vh - 100px);
  background-color: #000;
  justify-content: flex-start;
}
.logo{
  padding: 10px 0;
}
.logo img{
  width: 70%;
}
.logo>.small{
  display: none;
}
.name-playlist{
  overflow-y: scroll;    
  min-height: 80px;
}
.profile{
  height: 80px;
  margin-top: auto;
  margin-bottom: 10px;
}
.menu img{
  width: 20px;
}
.menu a,
.menu img{
  vertical-align: middle;
}
.menu li{
  padding: 5px 0;
}
li {
  list-style: none;
}
.menu a,
.playlist a{
  padding-left: 5px;
}
.playlist i {
  font-size: 40px;
  padding: 10px 0;
}
.playlist a{
  line-height: 40px;
  vertical-align: text-bottom;
}
#here>i,
#here>a,
.profile .name,
h2,
h4{
  color: #fff;
}
.fa-user-circle{
  font-size: 30px;
}
h4{
  margin-top: 10px;
}
.name-playlist li{
  margin-top: 8px;
}
hr{
  margin: 10px 0;
}
.download img{
  width: 20px;
  vertical-align: middle;
}
.profile span{
  margin-left: 5px;
}
.install{
  font-size: 10px;
}
.download{
  margin-top: 10px;
}
.user img{
  background-color: gray;
  border-radius: 50%;
  vertical-align: middle;
  width: 30px;
  height: 30px;
}

  /* End Aside */

  /* Start Main */
header{
  width: 85%;
  height: 80px;
  background-color: rgba(8, 10, 18, 0.788);
  position: fixed;
}
header .btn{
  line-height: 80px;
  vertical-align: middle;
  text-align: end;
  display: block;
  margin-right: 10px;
}
.btn a{
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 10px;
  color: #fff;
}
nav{
  width: 100%;
  color: #fff;
  background-color: rgb(20, 25, 34);
  padding-bottom: 20px;
}
nav ul{
  justify-content: center;
}
nav ul li{
  margin: 10px 20px 20px 0;
}

main{
  height: 100%;
  width: 85%;
  overflow-y: scroll;
  background-color: rgb(20, 25, 34);
}
.content-main{
  width: 95%;
  padding-top: 80px;
  column-gap: 20px
}
.cover{
  margin: 20px 0;
  align-items: center;
  width: 150px;
  justify-items: center;
  margin-right: 10px;
}
.cover img{
  width: 150px;
}
.cover h5{
  margin: 20px 0 5px 0;
  font-size: 15px;
  color: #fff;
}
.cover h5,
.cover span{
  text-align: center;
}
.cover span{
  font-size: 10px;
}
.content-main p{
  margin: 10px 0;
}
.circle img{
  border-radius: 50%;
}
  /* End Main */

  /* Start Footer */
footer{
  width: 100%;
  height: 100px;
  min-height: 100px;
  z-index: 9999;
  background-color: black;
  color: #fff;
}
  /* End Footer */

  /* Start MediaQuery */
  @media screen and (max-width: 575px){
    aside{
      width: 10%;
    }
    .logo{
      justify-self: center;
      padding-top: 5px;
    }
    .logo>.normal{
      display: none;
    }
    .logo>.small{
      display: block;
      margin: auto;
      width: 30px;
    }
    main,
    header{
      width: 90%;
    }
    .menu,
    .playlist,
    .name-playlist,
    .profile{
      text-align: center;
    }
    .menu li>a,
    .playlist,
    .name-playlist,
    .profile span,
    hr{
      display: none;
    }
    .user img{
      width: 30px;
      height: 30px;
    }
    .profile{
      height: 70px;
    }
    .menu img{
      width: 30px;
    }
    .user{
      margin-top: 10px;
    }
    .cover,
    .cover img{
      width: 200px;
    }
  }
  @media screen and (min-width: 576px) and (max-width: 767px){
    aside{
      width: 40%;
    }
    .logo>.normal{
      width: 50%;
    }
    header,
    main{
      width: 60%;
    }
  }
  @media screen and (min-width: 767px) and (max-width: 991px){
    aside{
      width: 25%;
    }
    main,
    header{
      width: 75%;
    }
    .cover,
    .cover img{
      width: 120px;
    }
  }
  /* End MediaQuery */