@media screen and (max-width: 470px){
  .name-album,
  .btn-album{
    display: none;
  }
  .album{
    width: 70px;
  }
  .none{
    display: none;
  }
  .fa-volume-up{
    font-size: 20px;
  }
  .command{
    width: 100%;
  }
  .other.command{
    width: 20%;
  }
  .minute{
    width: 100%;
  }
  aside{
    width: 15%;
  }
  main{
    width: 85%;
  }
  .play-pausa{
    width: 65%;
  }
  header{
    justify-content: center;
  }
  #vertical-volume:hover .vertical-volume-bar{
    display: block;
  }
}
@media screen and (max-height: 450px){
  header{
    opacity: 0;
  }
  .content-main{
    padding-top: 30px;
  }
}

#vertical-volume{
  position: relative;
}
.vertical-volume-bar{
  position: absolute;
  bottom:  100%;
  width: 20px;
  height: 100px;
  display: none;
}
.vertical-bar{
  width: 5px;
  height: 80%;
  background-color: rgb(91, 90, 90);
  position: relative;
  margin: 10px auto;
  border-radius: 4px;
}
.effective-volume{
  width: 5px;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: rgb(222, 222, 222);
  border-radius: 0 0 4px 4px;
}
.recently{
  height: 280px;
  overflow: hidden;
}
.circle-volume{
  background-color: rgb(222, 222, 222);
  width: 15px;
  height: 15px;
  position: absolute;
  transform: translateX(-30%);
  bottom: 80%;
  display: none;
}
.vertical-bar:hover .circle-volume{
  display: block;
}
.vertical-bar:hover .effective-volume{
  background-color: rgb(179, 188, 77);
}


