@media screen and (max-width: 470px){
  .name-album,
  .btn-album{
    display: none;
  }
  .album{
    width: 70px;
  }
  .none{
    display: none;
  }
  .fa-volume-up{
    font-size: 20px;
  }
  .command{
    width: 100%;
  }
  .other.command{
    width: 20%;
  }
  .minute{
    width: 100%;
  }
  aside{
    width: 15%;
  }
  main{
    width: 85%;
  }
  .play-pausa{
    width: 65%;
  }
  header{
    justify-content: center;
  }
}
#vertical-volume{
  position: relative;
}
.vertical-volume-bar{
  position: absolute;
  bottom:  100%;
  width: 20px;
  height: 100px;
  display: none;
}
.vertical-bar{
  width: 5px;
  height: 80%;
  background-color: rgb(91, 90, 90);
  position: relative;
  margin: 10px auto;
  border-radius: 4px;
}
.effective-volume{
  width: 5px;
  height: 30%;
  position: absolute;
  bottom: 0;
  background-color: rgb(222, 222, 222);
  border-radius: 0 0 4px 4px;
}
#vertical-volume:hover .vertical-volume-bar{
  display: block;
}